# Défi Grosses Data 2018

## Data analysis

In [2]:
import numpy as np
import pandas as pd
import datetime as dt
from os import listdir

In [3]:
def open_and_transform(file):
    path='./data_meteo/'
    #input_file='./../data_meteo/train_1.csv'
    df = pd.read_csv(path+file, header=0, delimiter=";",decimal=",")
    print("Dimensions:",np.shape(df))
    df['date']=df['date'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d'))
    df['insee'] = df['insee'].astype('category')
    df['mois'] = df['mois'].astype('category')
    df['ddH10_rose4'] = df['ddH10_rose4'].astype('category')
    df['ech'] = df['ech'].astype('category')
    df['flvis1SOL0'] = df['flvis1SOL0'].astype('category')
    #print("Fichier",file," ouvert.")
    return df

In [4]:
listdir('./data_meteo/')
list_files=np.empty(36, dtype='|U12')
i=0
for fichier in listdir('./data_meteo/'):
    if 'train' in fichier:
        list_files[i]=fichier
        i=i+1

In [5]:
df_tot=pd.DataFrame()
for file in list_files:
    df_tot=pd.concat([df_tot,open_and_transform(file)])

('Dimensions:', (6167, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (6167, 31))
('Dimensions:', (6167, 31))
('Dimensions:', (6167, 31))
('Dimensions:', (6167, 31))
('Dimensions:', (6167, 31))
('Dimensions:', (6167, 31))
('Dimensions:', (6167, 31))
('Dimensions:', (6167, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (6167, 31))
('Dimensions:', (2135, 31))
('Dimensions:', (2135, 31))
('Dimensions:', (2135, 31))
('Dimensions:', (2135, 31))
('Dimensions:', (2135, 31))
('Dimensions:', (2135, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))
('Dimensions:', (5740, 31))

In [6]:
df_tot=df_tot.sort_values(by=['ech','date'],ascending=True)

In [7]:
np.shape(df_tot)

(189280, 31)

<b>IMPUTATION DONNEES</b>

In [8]:
import numpy as np
import numpy.ma as ma
import random

def input_nan(x, tx):
    """
    x : a 2D matrix of float dtype
    tx: the rate of nan value to put in the matrix
    """
    n_total = x.shape[0] * x.shape[1]
    mask = np.array([random.random() for _ in range(n_total)]).reshape(x.shape)<tx
    mx = ma.masked_array(x, mask=mask, fill_value=np.nan)
    return mx.filled()

In [11]:
# données initiales avec 
X=df_tot 
# Génération de 10% de valeurs manquantes
Xna=input_nan(X, .1)

Xna

array([[Timestamp('2014-01-01 00:00:00'), 6088001, 5.5, ...,
        -2.8531336331125803, 1, nan],
       [Timestamp('2014-01-01 00:00:00'), 31069001, 4.800000190734861, ...,
        nan, 1, 'janvier'],
       [nan, 33281001, 8.89999961853027, ..., 4.88984864364851, 1,
        'janvier'],
       ...,
       [Timestamp('2016-04-30 00:00:00'), 59343001, nan, ...,
        -6.5780301475478895, 36, 'avril'],
       [Timestamp('2016-04-30 00:00:00'), 67124001, 10.8999996185303, ...,
        -7.52747494215144, 36, 'avril'],
       [Timestamp('2016-04-30 00:00:00'), 75114001, nan, ...,
        -9.06015064107306, 36, 'avril']], dtype=object)

In [12]:
df_tot.describe()
#pd.isna(df_tot['date'])

,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,hcoulimSOL0,huH2,...,rrH20,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech
count,189260.000000,170492.000000,1.883070e+05,184800.000000,184702.000000,188118.000000,1.882190e+05,1.881510e+05,188307.000000,184723.000000,...,184793.000000,184723.000000,184716.000000,184723.000000,184723.000000,188258.000000,184702.000000,188286.000000,184716.000000,189280.000000
mean,12.006981,59.169631,5.027560e-08,0.000006,3.406578,-217648.413598,-1.476294e+05,-7.151363e+04,490.318652,77.560604,...,0.003668,12.143805,-0.183838,0.001031,0.000351,9.477384,1.128499,17.538598,0.732079,16.898669
std,6.263605,142.986766,1.058130e-06,0.000035,2.069121,133170.495298,2.338682e+05,2.379013e+05,505.990997,16.006465,...,0.022547,6.495621,1.890783,0.002268,0.003244,4.502674,4.963149,7.752743,4.872846,9.548489
min,-7.900000,0.000000,0.000000e+00,0.000000,0.008230,-816882.554121,-1.780445e+06,-1.889882e+06,0.096693,13.168704,...,0.000000,-9.776349,-9.275321,-0.022873,-0.021223,-3.477451,-22.470358,1.305881,-20.111824,1.000000
25%,7.600000,0.124246,0.000000e+00,0.000000,1.924383,-302011.786091,-1.970599e+05,-8.946848e+04,117.687765,67.827227,...,0.000000,7.527034,-1.271802,-0.000110,-0.000649,6.218264,-2.001309,11.556538,-2.746925,9.000000
50%,11.600000,5.425625,0.000000e+00,0.000000,2.990316,-222379.297816,-4.894289e+04,-1.954219e+03,321.587923,81.744680,...,0.000000,11.855420,-0.588375,0.000741,0.000304,9.426134,0.850176,16.337755,0.501839,17.000000
75%,16.100000,47.025052,0.000000e+00,0.000000,4.438814,-107138.680673,-2.580780e+02,4.394024e+04,709.740217,90.139770,...,0.000000,16.400056,0.554582,0.001957,0.001603,12.702356,3.981172,22.293404,4.015721,25.000000
max,38.400002,2448.672118,6.457207e-05,0.000447,17.449989,78624.299681,1.857474e+05,6.836656e+05,5289.707727,100.481985,...,1.754839,39.642168,11.714195,0.028023,0.031406,22.606778,29.156881,54.592355,26.574025,36.000000

In [13]:
pd_Xna = pd.DataFrame(Xna)
pd_Xna.describe()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
count,170136,170213,170418.0,153391.0,169407.0,166405.0,166147,166153.000000,169425.000000,169399.0,...,166189.000000,166395.000000,166484.000000,166120.000000,169279.000000,166553.000000,169522.000000,166312.000000,170330,170099
unique,881,7,435.0,122268.0,1906.0,22761.0,4,166153.000000,169425.000000,168305.0,...,166189.000000,166395.000000,166484.000000,166120.000000,169278.000000,166553.000000,169522.000000,166312.000000,36,12
top,2016-01-16 00:00:00,59343001,11.3,0.0,0.0,0.0,3.0,8.562737,-355731.875852,-400.0,...,11.622335,-0.495846,0.002873,0.008767,4.934079,5.345127,32.533142,0.919597,23,avril
freq,237,24371,1175.0,26863.0,167414.0,141048.0,50721,1.000000,1.000000,14.0,...,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,5588,19235

In [ ]:
tH2_obs 	Observation de la température à 2 mètres in situ- au point station (prédictant)
ech 	Echéance de validité
capeinsSOL0 	Energie potentielle convective
ciwcH20 	Fraction de glace nuageuse à 20 mètres
clwcH20 	Fraction d'eau nuageuse à 20 mètres
nH20 	Fraction nuageuse à 20 mètres
pMER0 	Pression au niveau de la mer
rr1SOL0 	Précipitation horaire au niveau du sol
rrH20 	Précipitation horaire à 20 mètres
tpwHPA850 	Température potentielle au niveau 850 hPa
ux1H10 	Rafale 1 minute du vent à 10 mètres composante zonale
vapcSOL0 	Colonne de vapeur d'eau
vx1H10 	Rafale 1 minute du vent à 10 mètres composante verticale
ddH10_rose4 	Direction du vent à 10 mètres en rose4
ffH10 	Force du vent à 10 mètres en m/s
flir1SOL0 	Flux Infra-rouge en J/m2
fllat1SOL0 	Flux de chaleur latente en J/m2
flsen1SOL0 	Flux de chaleur sensible en J/m2
flvis1SOL0 	Flux visible en J/m2
hcoulimSOL0 	Hauteur de la couche limite en mètres
huH2 	Humidité 2mètres en %
iwcSOL0 	Réservoir neige kg/m2 (équivalent en eau liquide des chutes de neige)
nbSOL0_HMoy 	Nébulosité basse (moyenne sur les 6 points de grille autour de la station) (fraction en octat du ciel occulté)
ntSOL0_HMoy 	Nébulosité totale (moyenne sur les 6 points de grille autour de la station)
tH2 	Température à 2 mètres du modèle AROME
tH2_VGrad_2.100 	Gradient vertical de température entre 2 mètres et 100 mètres
tH2_XGrad 	Gradient zonal de température à 2 mètres
tH2_YGrad

In [26]:
df_tot.shape
# Variables explicatives
df_qual=pd.get_dummies(df_tot[["mois"]])
#ozoneQuant=ozone[["MOCAGE","TEMPE","VentMOD","VentANG","SRMH2O","LNO2","LNO"]]
df_quant=pd.get_dummies(df_tot[["tH2_obs", "ech", "capeinsSOL0"]])

#faut ajouter les variables qui vont expliquer th2_obs

dfC=pd.concat([df_tot,df_dummies],axis=1)

In [28]:
from predictive_imputer import predictive_imputer
# Choix du mode de prévision par *k*-pp, ACP ou forêt aléatoire
imputer = predictive_imputer.PredictiveImputer(f_model="RandomForest")
# Imputation
XnaImp = imputer.fit(Xna).transform(Xna.copy())

ValueError: could not convert string to float: avril

hosanna