# Défi Grosses Data 2018

## Data analysis

In [3]:
import numpy as np
import pandas as pd
import datetime as dt
from os import listdir

In [9]:
def open_and_transform(file):
    path='./data_meteo/'
    #input_file='./../data_meteo/train_1.csv'
    df = pd.read_csv(path+file, header=0, delimiter=";",decimal=",")
    #print("Dimensions:",np.shape(df))
    df['date']=df['date'].apply(lambda x: dt.datetime.strptime(x, '%Y-%m-%d'))
    df['insee'] = df['insee'].astype('category')
    df['mois'] = df['mois'].astype('category')
    df['ddH10_rose4'] = df['ddH10_rose4'].astype('category')
    df['ech'] = df['ech'].astype('category')
    df['flvis1SOL0'] = df['flvis1SOL0'].astype('float64')
    #print("Fichier",file," ouvert.")
    return df

In [10]:
listdir('./data_meteo/')
list_files=np.empty(36, dtype='|U12')
i=0
for fichier in listdir('./data_meteo/'):
    if 'train' in fichier:
        list_files[i]=fichier
        i=i+1

In [11]:
df_tot=pd.DataFrame()
for file in list_files:
    df_tot=pd.concat([df_tot,open_and_transform(file)])

In [12]:
df_tot=df_tot.sort_values(by=['ech','date'],ascending=True)

In [13]:
np.shape(df_tot)

(189280, 31)

<b>IMPUTATION DONNEES</b>

In [14]:
import numpy as np
import numpy.ma as ma
import random

In [15]:
# données initiales avec 
X=df_tot 
# Génération de 10% de valeurs manquantes
Xna=input_nan(X, .1)
Xna

array([[Timestamp('2014-01-01 00:00:00'), 6088001, 5.5, ...,
        -2.8531336331125803, 1, 'janvier'],
       [Timestamp('2014-01-01 00:00:00'), 31069001, 4.800000190734861, ...,
        3.01961425625813, 1, 'janvier'],
       [Timestamp('2014-01-01 00:00:00'), 33281001, 8.89999961853027, ...,
        4.88984864364851, 1, 'janvier'],
       ...,
       [Timestamp('2016-04-30 00:00:00'), nan, 13.1999998092651, ...,
        -6.5780301475478895, 36, 'avril'],
       [Timestamp('2016-04-30 00:00:00'), 67124001, nan, ..., nan, 36, nan],
       [Timestamp('2016-04-30 00:00:00'), 75114001, 14.6999998092651, ...,
        nan, 36, 'avril']], dtype=object)

In [16]:
df_tot.describe()
#pd.isna(df_tot['date'])

,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ffH10,flir1SOL0,fllat1SOL0,flsen1SOL0,flvis1SOL0,hcoulimSOL0,...,rrH20,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech
count,189260.000000,170492.000000,1.883070e+05,184800.000000,184702.000000,188118.000000,1.882190e+05,1.881510e+05,1.881810e+05,188307.000000,...,184793.000000,184723.000000,184716.000000,184723.000000,184723.000000,188258.000000,184702.000000,188286.000000,184716.000000,189280.000000
mean,12.006981,59.169631,5.027560e-08,0.000006,3.406578,-217648.413598,-1.476294e+05,-7.151363e+04,4.136244e+05,490.318652,...,0.003668,12.143805,-0.183838,0.001031,0.000351,9.477384,1.128499,17.538598,0.732079,16.898669
std,6.263605,142.986766,1.058130e-06,0.000035,2.069121,133170.495298,2.338682e+05,2.379013e+05,6.915170e+05,505.990997,...,0.022547,6.495621,1.890783,0.002268,0.003244,4.502674,4.963149,7.752743,4.872846,9.548489
min,-7.900000,0.000000,0.000000e+00,0.000000,0.008230,-816882.554121,-1.780445e+06,-1.889882e+06,0.000000e+00,0.096693,...,0.000000,-9.776349,-9.275321,-0.022873,-0.021223,-3.477451,-22.470358,1.305881,-20.111824,1.000000
25%,7.600000,0.124246,0.000000e+00,0.000000,1.924383,-302011.786091,-1.970599e+05,-8.946848e+04,0.000000e+00,117.687765,...,0.000000,7.527034,-1.271802,-0.000110,-0.000649,6.218264,-2.001309,11.556538,-2.746925,9.000000
50%,11.600000,5.425625,0.000000e+00,0.000000,2.990316,-222379.297816,-4.894289e+04,-1.954219e+03,3.600000e-12,321.587923,...,0.000000,11.855420,-0.588375,0.000741,0.000304,9.426134,0.850176,16.337755,0.501839,17.000000
75%,16.100000,47.025052,0.000000e+00,0.000000,4.438814,-107138.680673,-2.580780e+02,4.394024e+04,5.918494e+05,709.740217,...,0.000000,16.400056,0.554582,0.001957,0.001603,12.702356,3.981172,22.293404,4.015721,25.000000
max,38.400002,2448.672118,6.457207e-05,0.000447,17.449989,78624.299681,1.857474e+05,6.836656e+05,3.206372e+06,5289.707727,...,1.754839,39.642168,11.714195,0.028023,0.031406,22.606778,29.156881,54.592355,26.574025,36.000000

In [18]:
pd_Xna = pd.DataFrame(Xna)
pd_Xna.describe()
list(df_tot)

['date',
 'insee',
 'tH2_obs',
 'capeinsSOL0',
 'ciwcH20',
 'clwcH20',
 'ddH10_rose4',
 'ffH10',
 'flir1SOL0',
 'fllat1SOL0',
 'flsen1SOL0',
 'flvis1SOL0',
 'hcoulimSOL0',
 'huH2',
 'iwcSOL0',
 'nbSOL0_HMoy',
 'nH20',
 'ntSOL0_HMoy',
 'pMER0',
 'rr1SOL0',
 'rrH20',
 'tH2',
 'tH2_VGrad_2.100',
 'tH2_XGrad',
 'tH2_YGrad',
 'tpwHPA850',
 'ux1H10',
 'vapcSOL0',
 'vx1H10',
 'ech',
 'mois']

tH2_obs 	Observation de la température à 2 mètres in situ- au point station (prédictant)
ech 	Echéance de validité
capeinsSOL0 	Energie potentielle convective
ciwcH20 	Fraction de glace nuageuse à 20 mètres
clwcH20 	Fraction d'eau nuageuse à 20 mètres
nH20 	Fraction nuageuse à 20 mètres
pMER0 	Pression au niveau de la mer
rr1SOL0 	Précipitation horaire au niveau du sol
rrH20 	Précipitation horaire à 20 mètres
tpwHPA850 	Température potentielle au niveau 850 hPa
ux1H10 	Rafale 1 minute du vent à 10 mètres composante zonale
vapcSOL0 	Colonne de vapeur d'eau
vx1H10 	Rafale 1 minute du vent à 10 mètres composante verticale
ddH10_rose4 	Direction du vent à 10 mètres en rose4
ffH10 	Force du vent à 10 mètres en m/s
flir1SOL0 	Flux Infra-rouge en J/m2
fllat1SOL0 	Flux de chaleur latente en J/m2
flsen1SOL0 	Flux de chaleur sensible en J/m2
flvis1SOL0 	Flux visible en J/m2
hcoulimSOL0 	Hauteur de la couche limite en mètres
huH2 	Humidité 2mètres en %
iwcSOL0 	Réservoir neige kg/m2 (équivalent en eau liquide des chutes de neige)
nbSOL0_HMoy 	Nébulosité basse (moyenne sur les 6 points de grille autour de la station) (fraction en octat du ciel occulté)
ntSOL0_HMoy 	Nébulosité totale (moyenne sur les 6 points de grille autour de la station)
tH2 	Température à 2 mètres du modèle AROME
tH2_VGrad_2.100 	Gradient vertical de température entre 2 mètres et 100 mètres
tH2_XGrad 	Gradient zonal de température à 2 mètres
tH2_YGrad

In [57]:
df_tot.shape
# Variables explicatives
df_qual=pd.get_dummies(df_tot[["mois", "insee", "ddH10_rose4", "ech"]])
#ozoneQuant=ozone[["MOCAGE","TEMPE","VentMOD","VentANG","SRMH2O","LNO2","LNO"]]
df_quant=df_tot[[
 "capeinsSOL0",
 "ciwcH20",
 "clwcH20",
 "ffH10",
 "flir1SOL0",
 "fllat1SOL0",
 "flsen1SOL0",
 "flvis1SOL0",
 "hcoulimSOL0",
 "huH2",
 "iwcSOL0",
 "nbSOL0_HMoy",
 "nH20",
 "ntSOL0_HMoy",
 "pMER0",
 "rr1SOL0",
 "rrH20",
 "tH2",
 "tH2_VGrad_2.100",
 "tH2_XGrad",
 "tH2_YGrad",
 "tpwHPA850",
 "ux1H10",
 "vapcSOL0",
 "vx1H10"]]

#faut ajouter les variables qui vont expliquer th2_obs
dfC=pd.concat([df_qual,df_quant],axis=1)

dfC.columns

Index([u'ech', u'mois_août', u'mois_avril', u'mois_décembre', u'mois_février',
       u'mois_janvier', u'mois_juillet', u'mois_juin', u'mois_mai',
       u'mois_mars', u'mois_novembre', u'mois_octobre', u'mois_septembre',
       u'insee_6088001', u'insee_31069001', u'insee_33281001',
       u'insee_35281001', u'insee_59343001', u'insee_67124001',
       u'insee_75114001', u'ddH10_rose4_1.0', u'ddH10_rose4_2.0',
       u'ddH10_rose4_3.0', u'ddH10_rose4_4.0', u'capeinsSOL0', u'ciwcH20',
       u'clwcH20', u'ffH10', u'flir1SOL0', u'fllat1SOL0', u'flsen1SOL0',
       u'flvis1SOL0', u'hcoulimSOL0', u'huH2', u'iwcSOL0', u'nbSOL0_HMoy',
       u'nH20', u'ntSOL0_HMoy', u'pMER0', u'rr1SOL0', u'rrH20', u'tH2',
       u'tH2_VGrad_2.100', u'tH2_XGrad', u'tH2_YGrad', u'tpwHPA850', u'ux1H10',
       u'vapcSOL0', u'vx1H10'],
      dtype='object')

In [49]:
#Xna=input_nan(dfC[:5000], .1)

In [58]:
dfC.dtypes

ech                  int64
mois_août            uint8
mois_avril           uint8
mois_décembre        uint8
mois_février         uint8
mois_janvier         uint8
mois_juillet         uint8
mois_juin            uint8
mois_mai             uint8
mois_mars            uint8
mois_novembre        uint8
mois_octobre         uint8
mois_septembre       uint8
insee_6088001        uint8
insee_31069001       uint8
insee_33281001       uint8
insee_35281001       uint8
insee_59343001       uint8
insee_67124001       uint8
insee_75114001       uint8
ddH10_rose4_1.0      uint8
ddH10_rose4_2.0      uint8
ddH10_rose4_3.0      uint8
ddH10_rose4_4.0      uint8
capeinsSOL0        float64
ciwcH20            float64
clwcH20            float64
ffH10              float64
flir1SOL0          float64
fllat1SOL0         float64
flsen1SOL0         float64
flvis1SOL0         float64
hcoulimSOL0        float64
huH2               float64
iwcSOL0            float64
nbSOL0_HMoy        float64
nH20               float64
ntSOL0_HMoy        float64
pMER0              float64
rr1SOL0            float64
rrH20              float64
tH2                float64
tH2_VGrad_2.100    float64
tH2_XGrad          float64
tH2_YGrad          float64
tpwHPA850          float64
ux1H10             float64
vapcSOL0           float64
vx1H10             float64
dtype: object

## Imputation données avec Forêts aléatoires

In [112]:
#Données avec imputations avec Forêts aléatoires

from predictive_imputer import predictive_imputer
# Choix du mode de prévision par *k*-pp, ACP ou forêt aléatoire
imputer = predictive_imputer.PredictiveImputer(f_model="RandomForest")
# Imputation
XnaImp = imputer.fit(dfC[:6172]).transform(dfC[:6172].copy())

In [113]:
from sklearn.model_selection import train_test_split

Y=df_tot[["tH2_obs"]][:6172]

# Données sans trous
XnaImp_train,XnaImp_test,Y_train,Y_test=train_test_split(XnaImp,Y,test_size=200,random_state=11)

In [114]:
#Prévisions par forêt aléatoire
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import RandomForestRegressor
# prévision avec trous imputés
forest = RandomForestRegressor(n_estimators=50)

# apprentissage
rfFit = forest.fit(XnaImp_train,Y_train)

1-rfFit.score(XnaImp_test,Y_test)

/usr/local/insa/anaconda/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:8: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

0.026621241482858715

In [115]:
from sklearn.metrics import mean_squared_error
Y_pred=rfFit.predict(XnaImp_test)
print("MSE=",mean_squared_error(Y_pred,Y_test))

('MSE=', 0.71427929000780066)

## Imputation données avec ACP

In [134]:
#Données avec imputations avec ACP

# Choix du mode de prévision par *k*-pp, ACP ou forêt aléatoire
imputer = predictive_imputer.PredictiveImputer(f_model="PCA")
# Imputation
XnaImp = imputer.fit(dfC[:100000]).transform(dfC[:100000].copy())

In [135]:
Y=df_tot[["tH2_obs"]][:100000]

# Données sans trous
XnaImp_train,XnaImp_test,Y_train,Y_test=train_test_split(XnaImp,Y,test_size=200,random_state=11)

In [136]:
# prévision avec trous imputés
forest = RandomForestRegressor(n_estimators=100)

# apprentissage
rfFit = forest.fit(XnaImp_train,Y_train)

1-rfFit.score(XnaImp_test,Y_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [121]:
Y_pred=rfFit.predict(XnaImp_test)
print("MSE=",mean_squared_error(Y_pred,Y_test))

('MSE=', 0.81138709610058868)

In [117]:
Y=df_tot[["tH2_obs"]][:500]

In [101]:
print(np.shape(Y_train))
print(np.shape(XnaImp_train))
print(XnaImp_test.shape)

type(XnaImp_train)

(300, 1)
(300, 49)
(200, 49)

numpy.ndarray

In [149]:
sum(np.isnan(XnaImp_train))
np.max(XnaImp_train)

np.sum(~ np.isfinite(XnaImp_train))

0

In [152]:
np.sum(np.isnan(Y_train)), "2eme",np.sum(~ np.isfinite(Y_train))

(tH2_obs    15
 dtype: int64, '2eme', tH2_obs    15
 dtype: int64)

In [153]:
Y=df_tot[["tH2_obs"]]
np.sum(np.isnan(Y))

tH2_obs    20
dtype: int64

In [164]:
Y_train=Y_train[np.isnan(Y_train)==True]
Y_train

      tH2_obs
2999      NaN
58        NaN
4296      NaN
206       NaN
4500      NaN
3371      NaN
3208      NaN
1536      NaN
3358      NaN
3886      NaN
1093      NaN
398       NaN
564       NaN
5111      NaN
563       NaN
3002      NaN
3850      NaN
2517      NaN
2990      NaN
3366      NaN
1894      NaN
3837      NaN
5676      NaN
3453      NaN
973       NaN
2894      NaN
674       NaN
1178      NaN
4966      NaN
575       NaN
...       ...
3196      NaN
2654      NaN
3741      NaN
1468      NaN
4286      NaN
3865      NaN
2388      NaN
1070      NaN
146       NaN
1383      NaN
1842      NaN
2165      NaN
2919      NaN
4513      NaN
1786      NaN
3869      NaN
94        NaN
1877      NaN
3625      NaN
2601      NaN
4463      NaN
3388      NaN
1242      NaN
5589      NaN
2426      NaN
5350      NaN
3488      NaN
3937      NaN
1676      NaN
3970      NaN

[99800 rows x 1 columns]