# Défi Grosses Data 2018

## Data analysis

In [2]:
import numpy as np
import pandas as pd

In [3]:
input_file='./../data_meteo/train_1.csv'
df = pd.read_csv(input_file, header=0, delimiter=";",decimal=",")

In [4]:
df.head()

,date,insee,tH2_obs,capeinsSOL0,ciwcH20,clwcH20,ddH10_rose4,ffH10,flir1SOL0,fllat1SOL0,...,tH2,tH2_VGrad_2.100,tH2_XGrad,tH2_YGrad,tpwHPA850,ux1H10,vapcSOL0,vx1H10,ech,mois
0,2014-01-01,6088001,5.5,0.198757,0.0,0.000000,4.0,1.970260,-386960.595711,-94260.682523,...,9.034338,-0.084999,0.007725,-0.013024,3.852825,1.330320,10.664653,-2.853134,1,janvier
1,2014-01-01,31069001,4.8,8.590036,0.0,0.000000,3.0,2.755962,-200181.123871,2282.951687,...,3.853128,1.396138,0.005036,0.000810,8.476699,-2.040020,15.462043,3.019614,1,janvier
2,2014-01-01,33281001,8.9,69.203856,0.0,0.000001,3.0,3.411283,-62310.340297,9483.691316,...,8.585184,0.387329,0.001372,0.000010,7.643070,3.029610,17.343600,4.889849,1,janvier
3,2014-01-01,35281001,6.8,65.270316,0.0,0.000000,3.0,4.655633,-61612.120075,-48356.475831,...,7.304130,-0.089267,0.000401,-0.000067,7.089030,-1.027446,13.981847,8.079973,1,janvier
4,2014-01-01,59343001,5.4,5.932505,0.0,0.000000,3.0,5.855930,-39553.109955,-1022.914242,...,5.829715,-0.489606,0.000204,-0.000191,4.546075,2.802554,9.941609,7.955489,1,janvier